<html>
  <head>

    <script src="https://unpkg.com/vue">
    </script>


  </head>
  <body>

    <div id="app">
        <div v-if="item">{{ item.name }}</div>
        <input v-if="item" v-model="item.name" placeholder="edit me"/>
        <input v-if="item" v-model="item.description" placeholder="edit me"/>
      <button @click="newCard()">New Card</button>
      <button v-if="items.length > 0" @click="drawCard()">Draw Card</button>
      <!--div v-for "item in items">
        <div>{{ item.name }}</div>
      </div-->

    </div>


    <script>
      var items = [];
      var people = [];

      function Item(name){
        this.name = name;
        this.proto = true;
        //this.descriptions = [];
        this.stats = {};
      }

      Item.prototype = {
        name: "NULL",
        AddStat: function(stat, value){
          var statExists = stat.name in this.stats.keys;
          if (statExists){
            var statRecord = this.stats[stat.name];
            statRecord.value += value;
          } else {
            this.stats[stat.name] = { "stat" : stat, "value" : value };
          }
        },
        AddDescription: function(description){
          this.descriptions.push(description);
        }
      }


      var app = new Vue({
        el: '#app',
        data: {
          items: items,
          item: null,
          mode: "create",
        },
        methods: {
          drawCard: function(){
            this.item = this.items[Math.floor( Math.random() * this.items.length)];
            mode = "change";
          },
          newCard: function(){
            var item = new Item();
            items.push(item);
            this.item = item;
            mode = "create";
          }
        }
      })
    </script>
  </body>
</html>
